body {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "top main"
    "nav footer";
    /*border: 1px solid black;*/
    align-items: stretch;
    gap: 10px;
}

#top {
    grid-area: top;
    /*border: 1px solid black;*/
}

nav {
    grid-area: nav;
    /*border: 1px solid black;*/
}

footer {
    grid-area: footer;
    /*border: 1px solid black;*/
}

main {
    grid-area: main;
    /*border: 1px solid black;*/
}