/*  Remove text decoration by default   */
* {
    text-decoration: none;
}

body {
    /*  Grid container  */
    display: grid;
    grid-template-columns: minmax(auto, max-content) auto;
    grid-template-rows: auto auto min-content auto;
    align-items: stretch;
    gap: 0px 10px;
    /*  background color    */
    background-color: rgb(255, 250, 205);
}

#top {
    /*  Grid location   */
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    /*  background  */
    background-color: aliceblue;
    /*  border  */
    border-style: dashed;
    border-color: burlywood;
    border-width: 2px;
    border-radius: 8pt;
    /*  margin  */
    margin: auto;
    /*  padding */
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    /*  text    */
    font-family: "Sedgwick Ave Display";
    /*  Flex container  */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

nav {
    /*  Grid location   */
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    /*  background  */
    background-color: blanchedalmond;
    /*  border  */
    border-style: double;
    border-color: burlywood;
    border-width: 2px;
    border-radius: 10px;
    /*  margin  */
    margin: 3vh 1vw 1vh 1vw;
    /*  padding */
    padding: 1vh 1vw 1vh 1vw;
    /*  text    */
    font-family: "Bebas Neue";
    font-size: 20px;
}

footer {
    /*  Grid location   */
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    /*  background  */
    background-color: beige;
    /*  border  */
    border-style: double;
    border-color: burlywood;
    border-width: 2px;
    border-radius: 5mm;
    /*  margin  */
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    /*  padding */
    padding: 1vh 1vw 1vh 1vw;
}

main {
    /*  Grid location   */
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    /*  background  */
    background-color:  wheat;
    /*  border  */
    border: 10px outset burlywood;
    /*  padding */
    padding: 1vh 1vw 1vh 1vw;
    /*  position    */
    position: relative;
}

main h2 {
    /*  Set h2 tags in main to have this font family    */
    font-family:Arial, Helvetica, sans-serif;
}

main > section {
    /*  Set section tags that are children of main to have this background  */
    background-color: lightyellow;
}

h1 {
    /*  background  */
    background-color: lightgreen;
    /*  text    */
    text-align: center;
}

h2 {
    /*  background  */
    background-color: hsl(251, 29%, 72%);
    /*  text    */
    text-align: center;
    color: rgb(79, 48, 8);
}

h2 + span {
    /*  Set span elements right after an h2 tag to this color   */
    color:rgb(79, 48, 8);
}

label ~ label {
    /*  Set every label after another label to have this color  */
    color: darkslategray;
}

h3, h4, h5, h6 {
    /*  Set headings h3 through h6 to be in italics */
    font-style: italic;
}

#nav_title {
    /*  text    */
    text-decoration: underline;
}

details {
    /*  background  */
    background-color: #F0FFFF;
    /*  display */
    display: block;
}

summary {
    color: darkgreen;
}

#navigation_list {
    /*  border  */
    border-style: solid;
    border-color: lightskyblue;
    border-width: 2px;
    /*  padding */
    padding: 1vh 1vw 1vh 4vw;
    display: flex;
    /*  flex container  */
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: start;
    /*  lists    */
    list-style-type: none;
    /*  position    */
    position: sticky;
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
}
a:active {
    color: red;
}

strong {
    color: darkred;
}

em {
    color: forestgreen;
}

p {
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

legend {
    text-decoration: underline;
    display: inline;
}

.logo {
    /*  size    */
    width: 250px;
    min-width: 100px;
    max-width: 500px;
    height: 80px;
}

p.byte {
    /*  Set paragraphs that have the byte class to this color   */
    color: green;
}

@media (max-width: 50em) {
    /*  For a smaller screen, set the body to display as flex so that the elements are one
        after each other    */
    body {
        display: flex;
        flex-direction: column;
    }
}